:root{
    --light: #242424;
    --darker: #1a1a1a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--light);
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

header{
    background: var(--darker);
    box-shadow: 0px 3px 12px 0px #000000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select{
    color: white;
    border: 1px solid black;
    background: var(--light);
    border-radius: 5px;
    height: 2.5rem;
    min-width: 8rem;
    margin-right: 2rem;
}

main{
    height: 100%;
}

.card-view{
    display: none;
}

h2{
    width: 100%;
    border-bottom: 2px solid var(--darker);
    padding-left: 1rem;
    padding-top: 2.5rem;
    font-size: 1.7rem;
}

.format{
    padding-top: 1rem;
}

h1{
    font-size: 2.2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

a{
    display: block;
    padding-left: 2rem;
    padding-top: 0.5rem;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a .number{
    font-weight: bold;
}

a .cost{
    font-family: "Mana";
}

@media(min-width: 900px){
    main{
        display:flex;
        
        width: 100vw;
    }
    .list{
        width:100%;
    }
    .card-view{
        display: inline;
        min-height: 468px;
        background: var(--darker);
        min-width: 336px;
        margin: 2.5rem;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 0px #000000;
    }
}

